---
// src/pages/about.astro
import Layout from "../layouts/Layout.astro";
import BackgroundAbout from "../components/backgrounds/BackgroundAbout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";
import SolutionEntries from "../components/solutionEntries.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// const sortedPosts = allPosts.sort(
// 	(a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
// );
---

<Layout title="About Me">
	<BackgroundAbout />
	<ThemeToggle />
	<body class="flex flex-col flex-1 h-full">
		<main class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:px-8">
			<div class="flex items">
				<div class="grid grid-cols-1 mt-4 gap-8 gap-y-24 sm:grid-cols-2">
					{
						allPosts.map((post) => (
							<SolutionEntries
								url={"/posts/" + post.slug}
								alt={post.data.title}
								tags={post.data.tags}
								title={post.data.title}
								author={post.data.author}
								image={post.data.image.url}
								description={post.data.description}
								pubDate={post.data.pubDate.toString().slice(0, 10)}
							/>
						))
					}
				</div>
			</div>
		</main>
	</body>
</Layout>
<Footer />
